<!-- This is the footer section of the website. It includes copyright information and any additional links. -->
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <h2>Contact</h2>
        <p>Daniel L. Carstensen<br />
        Brown University<br />
        Cognitive and Psychological Sciences<br />
        <a href="mailto:daniel_carstensen@brown.edu">daniel_carstensen@brown.edu</a>
        </p>
    </div>
    </div>
    
    <div class="copyright">
      <p>&copy; {{ site.time | date: '%Y' }} Daniel L. Carstensen. All rights reserved. • Last updated: {{ site.time | date: '%B %d, %Y' }}</p>
    </div>
  </div>
</footer>